.copyright_block
    p Copyright © 2018 Toxin отель. Все права защищены.
    .icons_social_networks
        a(href="")
            include ../../images/facebook.svg
        a(href="")
            include ../../images/twitter.svg
        a(href="")
            include ../../images/instagram.svg
