@import 'src/global';

$side_square: 4.375rem;

.ui-kit {
  margin-left: 9.375rem;
  margin-top: 4rem;
  display: flex;
  color: $dark_shade100;
}

.color_panel {
  display: block;
  width: 17.7rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.square_info {
  margin-bottom: 1.55rem;
}

.square {
  width: $side_square;
  height: $side_square;
  border-radius: 6px;
  float: left;
  margin-right: 2.5rem;
}

.square_dsc {
  padding-top: 0.7rem;
  align-items: center;
  max-width: 10.687rem;
}

.fonts_dsc {
  margin-left: 25.9rem;
  width: 27.25rem;
}


.font_details {
  display: flex;
}

.content_name {
  color: $dark_shade25;
  font-family: Montserrat-Regular;
  width: 2.312rem;
  margin-right: 1.8rem;
  text-align: right;
}

.content_details {
  max-width: 23.062rem;
  margin-bottom: 3.4rem;
}

.body {
  max-width: 18.812rem;
}






