

doctype html
html
    head
        meta(charset="UTF-8")
        title Headers & Footers Page

    body
        .container_color
            include ../../components/logo_grey_for_ui/logo_grey_for_ui
            .headers_unlogin_example
                include ../../components/headers_unlogin/headers
            .headers_login_example
                include ../../components/headers_unlogin/headers
            .footers_example
                include ../../components/footers/footers
