$green:rgba(111, 207, 151, 1);;
$purple:rgba(188, 156, 255, 1);;
$dark_shade100:rgba(31, 32, 65, 1);
$dark_shade75:rgba(31, 32, 65, 0.75);
$dark_shade50:rgba(31, 32, 65, 0.5);
$dark_shade25:rgba(31, 32, 65, 0.25);
$dark_shade5:rgba(31, 32, 65, 0.05);






%h_font_type {
  font-family: Montserrat-Bold;
}



