@import 'src/global';
@import 'src/views/cards/cards';
@import 'src/views/form-elements/form-elements';
@import 'src/views/headers-footers-page/headers-footers-page';
@import 'src/views/room-details/room-details';
@import 'src/views/search-room/search-room';
@import 'src/views/ui/ui';

html,body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
  margin-block: 0;
}


