mixin color_square (bg_color, opacity_color, h_color, dsc_color)
    .square_info
        .square(class=bg_color style={opacity:opacity_color})
        .square_dsc
            h1=h_color
            p=dsc_color
