mixin font_details (content_class,content_name_txt, content_details_txt)
    .font_details
        .content_name(class=content_class)=content_name_txt
        .content_details(class=content_class)=content_details_txt